// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.route-show-cntr {
	background: #f9f9f9;
	margin: auto;

	.rs-body {
		display: block;
		width: 1320px;
		height: 785px;
		padding: 0 0 85px 0;
		margin: auto;
		position: relative;
	}

	.rs-header {
		position: absolute;
		width: 100%;
		z-index: 100;
		background-color: rgba(255, 255, 255, 0.7);
		backdrop-filter: blur(4px);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	}

	.map-cntr {
		position: relative;
		width: 100%;
		height: 100%;
	}
}

#rs-map {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
