
//=============================================
// Comments section
//=============================================

.up-comments-cntr {
  padding: 10px;
  color: #666666;
  display: flex;
  border-top: 1px solid #DFE0E5;
  margin-top: -2px;
  align-items: center;
}