//==================
// Dashboard main
//==================
.bg {
  background-color: #f9f9f9;
  height: 100%;
  padding: 20px 0 85px 0;
}

.my-routes {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;

}

.mr-header {
  h1 {
  padding: 10px 0;
  font-size: 30px;
  text-transform: uppercase;
  }
  .links {
    box-shadow: inset 0 -1px 0 0px #cccccc;
    margin: 0 0 20px 0;

  }
  .mrh-tabs {
    display: inline-block;
    width: 33.333%;
    cursor: pointer;
    box-sizing: border-box;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #2e35a5;
    font-size: 12px;
    font-weight: 900;
    text-decoration: none;
    padding: 15px 23px;
    margin: 0 1px 0 0 ;

    &:hover, &:focus, {
      background: white;
      color: black;
      border-top: 3px solid #5355f5;
    }

  }
  .mrh-tabs.selected {
      background: white;
      color: black;
      border-top: 3px solid #5355f5;
    }
}


.mr-create {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;  

  h3 {
    font-size: 22px;
    
  }

  a {
    display: flex;
    box-sizing: border-box;
    width: 139px;
    height: 44px;
    padding: 12px 15px;
    background: orange;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    
    
    &:hover {
      background: #caa500;
      transition: 0.3s;
    }
  }
}

.mr-search-cntr {
  display: flex;
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #9297a3;
  border-bottom: 1px solid #9297a3;
}

.mrsc-left {
  width: 50%;
  display: flex;

}

.mrsc-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}


.search-box {
  box-sizing: border-box;
  width: 50%;
  height: 44px;
  
  input {
    box-sizing: border-box;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: transparent;

    &:focus {
      outline: none;
      background: white;
      border-color: #007EFF;
      box-shadow: 0 0 0 3px rgba(0, 126, 255, 10%);
    }
  }
}
.search-buttons {
  box-sizing: border-box;
  width: 50%;
  height: 44px;
  display: flex;
  padding: 0 8px;
  align-items: center;
}

.search-btn {
  background: #0076C7;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 96px;
  height: 44px;
  padding: 12px 15px;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.reset-btn {
  margin-left: 15px;
  color: #0076C7;
  text-decoration: none;
}

.search-filter {
  display: flex;
  justify-content: flex-end;
  width: 228px;
  height: 44px;

  select {
    padding-right: 35px;
    // appearance: none;
    cursor: pointer;
    color: #9297A3;
    padding: 12px 35px 12px 16px;
    width: 100%;
    font-size: 14px;
    background: transparent;
    border: 1px solid #d3d6dc;

    &:focus {
      outline: none;
      background: white;
      border-color: #007EFF;
      box-shadow: 0 0 0 3px rgba(0, 126, 255, 10%);
      }
  }
}


//==================
// Route Index
//==================

.route-index-cntr {
  position: relative;
}

.route-index-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #d3d6dc;
  margin-bottom: 30px;
}

.route-index-headers {
  text-align: left;
  background: #f6f7f8;
 
  th {
    box-sizing: border-box;
    padding: 15px 10px;
    border-top: 1px solid #d3d6dc;
    border-left: 1px solid #d3d6dc;
    vertical-align: middle;
  }
}

//==================
// Route Index Items
//==================

.route-row {
  box-sizing: border-box;
  
  td{
    box-sizing: border-box;
    padding: 15px 10px;
    border-top: 1px solid #d3d6dc;
    border-left: 1px solid #d3d6dc;
    vertical-align: middle;
  }
}

.route-thumbnail {
  height: 75px;
}

.route-row-activity {
  text-transform: capitalize;
}

.route-row-privacy {
  color: darkgray;
  text-align: center;
  font-size: 19px;
}

.route-row-options div {
display: flex;
flex-direction: column;
text-decoration: none;
  a:hover {
    cursor: pointer;
  }
}
a {
  color: #0076c0;
  text-decoration: none;
}