.masthead {
  display: flex;
  margin: auto;
  justify-content: space-between;
  font-size: 15px;
  padding: 20px;
  background: white;
  align-items: center;
  .a {
    background-color: white;
    padding: 10px;
    text-decoration-line: none;
    justify-content: space-between;
  }
  .a:hover {
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 1px 1px darkblue;
  }
}
