
.form-bg {
  height: 600px;
  background-color: #F0F0F0;
}

.auth-form-ctr {
  margin: auto;
  background-color: #F0F0F0;
  position: relative;
  padding-top: 80px;
  padding-bottom: 120px;
  
  .auth-form {
    width: 320px;
    margin: auto;
    background: transparent;
    
    .header {
      display: block;
      text-align: end;
      padding: 6px 0px;
      margin-bottom: 10px;
      // padding-top: 80px;
      
      .other-link {
        text-decoration: none;
        color: darkgray;
      }
    }

    .or-box {
      display: flex;
      align-items: center;


      .line{
        display: block;
        height: 1px;
        flex: 1;
        border: 0;
        border-bottom: 1px solid #C8C7CC;
      }

      .or {
        font-size: 13px;
        padding: 0 13px;
        color: darkgray;
        padding: 7px
      }
    }


    .other-link {
      text-align: right;
      font-weight: 500;
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      margin-bottom: 20px;
      font-size: 14px;
      text-transform: uppercase;

    }

    .errors {
      margin-bottom: 15px;
      font-size: 12px;
      color: red;
      
    }
    
  .input{
    display: block;
    // margin-top: 10px;
    height: 44px;
    padding: 12px 16px 12px;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    border: 1px solid #D3D6DC;
    border-radius: 2px;
    background: transparent;
    font-size: 15px;

    &:focus {
      outline: 0.2;
      border: 1px solid blue($color: #377dce);
    } 
  }
  
  .input.err-border {
    border: 1px solid red;
  }

  .input.bday {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: none;
    margin-bottom: 0;
  
    .day{ 
      
      select {
        box-sizing: border-box;
        height: 44px;
        width: 78px;
        padding: 12px 0px 12px 12px;
        background: transparent;
        color: dimgray;
        font-size: 15px;
        border: 1px solid lightgray;
      }
      .err-border {
        border: 1px solid red;
      }
    }
    

    .month {
      select{
        box-sizing: border-box;
        height: 44px;
        width: 122px;
        padding: 12px 35px 12px 12px;
        background: transparent;
        border: 1px solid lightgray;
        color: dimgray;
        font-size: 15px;
      }
      .err-border {
        border: 1px solid red;
      }
    }
  
    .year {
      select {
        box-sizing: border-box;
        height: 44px;
        width: 85px;
        padding: 12px 0px 12px 12px;
        background: transparent;
        border: 1px solid lightgray;
        color: dimgray;
        font-size: 15px;
      }
      .err-border {
        border: 1px solid red;
      }
    }
  }


    .gender {
      display: flex;
      width: inherit;
      justify-content: space-around;
      align-items: center;

      label {
        display: flex;
        font-size: 15px;
        color: dimgray;
      }
      input, input[type="radio" i] {
        display: flex;
        width: 15px;
        height: 15px;
        margin: 0 12px;
      }
    }

    .btn {
      color: #FFFFFF;
      padding: 12px 15px;
      margin: 2px auto;
      width: 100%;
      background-color: #1DDD7C;
      border: 0;
      border-color:rgb(240, 240, 240);
      border-radius: 2px;
      font-weight: 500;
      text-align: center;
      line-height: 20px;
      // transition-property: color, background, border-color;

      &:hover {
        background-color: #18D073;
        cursor: pointer;
      }
      &:focus {
        outline:0;
      } 
    }
    
  }
  
  
}
#btn-demo {
  background-color: #3B5998;
  color: #FFFFFF;
  padding: 12px 15px;
  margin: 2px auto;
  width: 100%;
  border: 0;
  border-color:rgb(240, 240, 240);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  
  &:hover {
    background-color: #274178;
    cursor: pointer;
  }
  &:focus {
    outline:0;
  } 
}
