//===============
// Background
//===============

.user-profile-bg {
  background: #f9f9f9;
  height: 100%;
}

//===============
// Main container
//===============

.user-profile-cntr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 85px;
}

//===============
// Header upper ("Icon and user name")
//===============
.up.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
  
  h2 {
    font-size: 36px;
    font-weight: 900;
    color: #212121
  }
  h4 {
    font-size: 12px;
  }
  
  .header-top {
    display: flex;
    margin: 0 0 10px;
    box-sizing: border-box;
    max-width: 960px;
    width: 100%;
    justify-content: center;
    
    .ht-left {
      text-align: center;
    }
    // running icon
    .fas.fa-running {
      height: 100px;
      width: 132px;
    }

    .ht-right {
      margin: 0 0 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  .fas.fa-calendar-day.fa-xs {
    color: #d3d3d3;
    margin: 0 5px 0 0;
  }
  span {
    color: #616161
  }
}

//===============
// Header lower ("Activity Feed")
//===============


.header-bottom {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #009CE9;
  margin-bottom: 16px;

  span {
    box-sizing: border-box;
    width: 160px;
    height: 33px;
    padding: 6px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222628;
  }
}

//===============
// List item
//===============

.up-feed {
  max-width: 630px;
  margin: auto;
}

.up-list-cntr {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-bottom: 40px;
  background: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
}

.up-list-header {
  display: flex;
  padding: 12px 16px;
  background: #ffffff;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DFE0E5;
  
  p {
    font-size: 14px
  }

  i {
    color: lightgray;
    font-size: 22px
  }
}

.up-list-body {
  display: flex;
  justify-content: space-evenly;
  
  img {
    width: 100%;
  }
  
}

.ulb-left {
  width: 50%;
  align-items: center;
}

.ulb-right-cntr {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .ulb-right {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  h4 {
    color: #262B2D;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;

    span {
      font-size: 14px;
    }
  }
}


//====================
// Comments section
//====================

.up-comments-cntr {
  padding: 10px;
  color: #666666;
  display: flex;
  border-top: 1px solid #DFE0E5;
  margin-top: -2px;
  align-items: center;
}